        html {
            background: #43C6AC; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #43C6AC , #F8FFAE); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #43C6AC , #F8FFAE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        body {
            font-family: Helvetica, sans-serif;
            font-size: em;
            line-height: 2em;
            font-weight: 100;
        }
        h1 {
            font-size: 2em;
            text-align: center;
            font-weight: 100;
        }
        h2 {
            font-size: 1.5em;
            text-align: center;
            font-weight: 100;
            text-transform: uppercase;
        }
        .container {
            margin: 0 auto;
            width: 90%;
            margin-bottom: 200px
        }
        input {
            height: 50px;
            width: 275px;
            padding: 0px 15px 0px 15px;
            margin: 5px 5px 5px 5px;
            background: rgba(0, 0, 0, 0.1);
            border: 2px solid white;
            color: #777;
            font-size: .8em;
            border-radius: 3px;
        }
        ::-webkit-input-placeholder {
            color: #fff;
}
        .start-button {
            height: 50px;
            width: 175px;
            background: #f9f9f9;
            border: none;
            text-transform: uppercase;
            letter-spacing: 2px;           margin: 20px 5px 5px 5px;
            border-radius: 50px;
            background-color: #1abc9c;
            color: white;        
        }
        button{
            margin: 0 auto;
            display: block;
        }
        .pokeball {
            background: url('http://vignette1.wikia.nocookie.net/ssb/images/c/ca/PokemonSymbol.svg/revision/latest?cb=20150831014713');
            background-size: 100px 100px;
            height: 100px;
            width: 100px;
            margin: 0 auto;
        }
        #name-bet{
            text-align: center;
        }
        .container p {
            text-align: center;
        }